<div id="{{cssPrefix}}Container">
	<div id="{{cssPrefix}}Loading" style="text-align: center;">
		<h1 style="margin-top: 15%; color: #666;">{{appDisplayName}} Now Loading...</h1>
	</div>

	<div id="{{cssPrefix}}DashboardMain" class="container"></div>

</div><!-- /{{cssPrefix}}Container -->
{{#extend "scripts"}}
<script src="ga.js"></script>
{{/extend}}
